services:
  web:
    build: .
    container_name: fastapi_app
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - redis
      - pg
    restart: unless-stopped

  worker:
    build: .
    container_name: ml_worker
    command: python -m ml.worker
    volumes:
      - ./uploads:/app/uploads
    depends_on:
      - redis
      - pg

  pg:
    image: postgres:latest
    container_name: postgres_fast_api
    env_file:
      - .env
    ports:
      - "5432:5432"

  pgadmin:
    image: dpage/pgadmin4:8.6
    env_file:
      - .env
    ports:
      - "15432:80"
    volumes:
      - pgadmin:/var/lib/pgadmin
    depends_on:
      - pg

  redis:
    image: redis:alpine
    container_name: auth_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
volumes:
  pg:
  pgadmin:
  redis_data: